#servicos {
  margin: 60px auto;
}
#servicos h2 {
  font-size: 4.4rem;
  color: var(--blue);
  text-shadow: var(--textShadowSection);
}
#servicos h2 span {
  color: var(--red);
}
#servicos .services-container {
  margin-top: 40px;

  display: flex;

  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

#servicos .services-container .card-services {
  max-width: 33%;
  padding: 10px;
}

#servicos .services-container .card-services .image-area {
  display: flex;
  justify-content: center;
  height: 91px;
}

#servicos .services-container .card-services .image-area img {
  object-fit: contain;
}

#servicos .services-container .card-services .services-text {
}

#servicos .services-container .card-services .services-text h4 {
  color: var(--blue);
  font-size: 2rem;
  text-align: center;
  margin: 5px 0px;
}

#servicos .services-container .card-services .services-text p {
  text-align: center;
}

/* ajuste fino */
.image-area img {
  width: 60px;
  margin: 16px 0;
}

@media screen and (max-width: 800px) {
  #servicos .services-container {
    display: flex;

    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  #servicos .services-container .card-services {
    max-width: 50%;
  }

  #servicos h2 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  #servicos .services-container .card-services {
    max-width: 100%;
    padding: 20px;
  }
  #servicos h2 {
    font-size: var(--textHeaderMobileSize);
  }
}
